*{
    padding: 0px;
    margin: 0px;
}

.card-text{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	overflow: hidden;
}

.card{
position:absolute;
}
.card-body{
position:absolute;
margin-left: 300px;
}
.caja{
    width: 80%;
    height: 15.3em;
    display:flex;
    margin-left: 200px;
    position: relative;
    border: 1px solid rgb(255, 95, 21);

}
.card-text{
    margin-top: 0px;
}
.card-title{
    margin-top: 0px;
}
.img-thumbnail{
    width: 296px;
	height: 212px;
}
	.author {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: -moz-flex-end;
		-webkit-justify-content: -webkit-flex-end;
		-ms-justify-content: -ms-flex-end;
		justify-content: flex-end;
		border-bottom: 0;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		white-space: nowrap;
    } 